.gif-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Garante que a imagem não transborde */
}

.gif-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: slide 10s linear infinite; /* Adiciona a animação para repetir infinitamente */
}

@keyframes slide {
    0% {
        transform: scale(1); /* Mantém a escala inicial */
    }
    100% {
        transform: scale(1.1); /* Aumenta ligeiramente a escala para dar um efeito de animação */
    }
}

.wrapper {
    max-width: 400px; /* Reduzindo a largura máxima para 400px */
    width: 80%; /* Reduzindo a largura para 80% da largura da tela */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px; /* Mantendo um preenchimento de 30px em todos os lados */
    margin: 40px auto; /* Adicionando uma margem maior de 40px no topo e na parte inferior e centralizando horizontalmente */
}

.wrapper h1 {
    font-size: 26px; /* Reduzido o tamanho da fonte para telas menores */
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    margin: 20px 0; /* Reduzido o espaço entre os elementos para telas menores */
}

.input-box input{
    width: 100%;
    height: 40px; /* Reduzido a altura para telas menores */
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px; /* Reduzido o raio da borda para telas menores */
    font-size: 14px; /* Reduzido o tamanho da fonte para telas menores */
    color: #fff;
    padding: 0px 12px; /* Aumentado o preenchimento para telas menores */
    box-sizing: border-box; /* Mantém a largura total do campo incluindo padding e borda */
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper button{
    width: 100%;
    height: 40px; /* Reduzido a altura para telas menores */
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px; /* Reduzido o raio da borda para telas menores */
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    align-items: center;
}

/* Adiciona uma regra de media query para dispositivos com largura de tela menor que 600px */
@media screen and (max-width: 600px) {
    .wrapper {
        padding: 20px; /* Reduzido o preenchimento para telas menores */
    }

    .wrapper h1 {
        font-size: 22px; /* Reduzido o tamanho da fonte para telas menores */
    }

    .input-box input{
        font-size: 12px; /* Reduzido o tamanho da fonte para telas menores */
        padding: 0px 8px; /* Aumentado o preenchimento para telas menores */
    }

    .wrapper button{
        height: 35px; /* Reduzido a altura para telas menores */
        font-size: 14px; /* Reduzido o tamanho da fonte para telas menores */
    }
}
